<div [class]="{board: true, active: init}">
  <div class="board__header">
    <div>
      logo
    </div>
    <div>
      <app-header-item [itemsDetail]="dataHeader"></app-header-item>
    </div>
  </div>
  <div class="board__menu">
    <div>
      <app-new-category [show]="createCategory" (response)="saveNewCategory($event)"></app-new-category>
      <span *ngIf="!createCategory" (click)="createCategory = true">add</span>
    </div>
    <app-menu *ngIf="categories" [categories]="categories"></app-menu>
  </div>
  <div class="board__context">
    <router-outlet></router-outlet>
  </div>
</div>
