<div [class]="{board: true, active: init}">
  <div class="board__header">
    <div>
      logo
    </div>
    <div>
      <app-header-item [itemsDetail]="testData"></app-header-item>
    </div>
  </div>
  <div class="board__menu">
    <div>
      <app-new-category [show]="createCategory" (response)="createCategory = false"></app-new-category>
      <span *ngIf="!createCategory" (click)="createCategory = true">add</span>
    </div>
    <app-menu></app-menu>
  </div>
  <div class="board__context">

  </div>
</div>
