//ligth
$ligth: #EAE3EA;
$ligth_1: #ae93ae;
$ligth_2: #7a5b7a;
$ligth_3: #513d51;
$ligth_4: #281e28;

// blue
$blue: #9D95D9;
$blue_1: #7e74cd;
$blue_2: #44389d;
$blue_3: #2d2569;
$blue_4: #161234;

//purple:
$purple: #7B44A0;
$purple_1: #a87ac6;
$purple_2: #733f96;
$purple_3: #4d2a64;
$purple_4: #261532;

//green:
$green: #66797A;
$green_1: #98a8a9;
$green_2: #617374;
$green_3: #414d4d;
$green_4: #202626;

//marsh:
$marsh: #8D9889;
$marsh_1: #9da79a;
$marsh_2: #677263;
$marsh_3: #454c42;
$marsh_4: #222521;
